<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    section.offer      
      header 
        .container
          nav 
            ul.navigation-list 
              li 
                a(href="#") Our company
              li 
                a(href="#") Our experts
              li 
                a(href="#") Our values
              li 
                a(href="#") Our contact
      .offer__title
        .container
          .title-wrapper
            h1.title Expert advice for <br> discerning buyers
            p.description 
              | Our consultants and research analysts work together <br> 
              | to provide understanding and clarity through the <br>
              | intricacies of an ever changing real estate cycle. 
          .offer__title__button
            include ./components/button/button.pug 
            +Button('Learn more')
    section.templates 
      .container 
        h2.templates__title Why Arda <br> Real Estate Consulting?
    section.reviews 
      .container 
        