html,
body {
    font-family: 'Inter', serif;
    font-size: 18px;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid #68a4ea;
}

.loader_hide > .loader-wrapper {
    display: none;
}

.loader_show > .loader-wrapper {
    display: block;
}


.offer {
    
    background-image: url(../assets/img/offer__bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 250px;
}

.offer-parallax__star {
    position: absolute;
    top: 0px;
    width: 80%; 
}

.offer-parallax__ellipse {
    position: absolute;
    top: 30px;
    left: 30px;
}

header {
    margin-bottom: 60px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}

.navigation-list {
    list-style: none;
    display: flex;
    li {
        margin-left: 55px;
        a {
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            outline: none;
        }
    }
}

.title-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
    .title {
        color: white;
        font-size: 3.125rem;
        letter-spacing: 2px;
        line-height: 3.75rem;
        margin-bottom: 40px;
    }

    .description {
        line-height: 2.25rem;
        color: white;
        margin-bottom: 60px;
    }

}

.offer__title__button {
    width: 220px;
}

.templates {
    background-image: url(../assets/img/template__bg.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    
    padding-top: 90px;
    padding-bottom: 400px;
    .templates__title {
        text-align: center;
        margin-bottom: 150px;
    }
}

.templates-wrapper {
    background-color: white;
    border-radius: 16px 0px 16px 16px;
    box-shadow: 0px 3px 20px 0px rgba($color: #000000, $alpha: 0.4);
}

.nav-link {
    font-weight: bold;
    color: #2fc9ef;
    font-size: 1.125rem;
}




.tab-content {
    padding: 75px 75px 100px 70px;
}

.property-item {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    row-gap: 20px;
    justify-items: center;
}

.reviews {
    padding-top: 90px;
    padding-bottom: 450px;
    background-image: url(../assets/img/reviews__bg.png);
    background-position-x: 20%;
    background-position-y: 75%;
    background-repeat: no-repeat;
}

.reviews__title {
    text-align: center;
    margin-bottom: 186px;
}

.carousel {
    position: relative;
    
    
}

.carousel__item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;

}

.prevButton,
.nextButton {
    display: flex;
    position: absolute;
    top: 50%;
    margin-top: -37px;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 75px;
    height: 75px;
    border: 2px solid #2fc9ef;
    border-radius: 50%;
    box-shadow: 0px 6px 11px 0px rgba($color: #000000, $alpha: 0.7);
    cursor: pointer;
    i {
        color: #2fc9ef;
        font-size: 1.25rem;
    }
}

.prevButton {
    left: -100px;
}

.nextButton {
    right: -100px;  
}

.slick-slide {
    outline: none;
}

footer {
    position: relative;
    padding-top: 700px;
    padding-bottom: 40px;
    background-image: url(../assets/img/footer__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact {
    position: absolute;
    top: -170px;
    left: 50%;
    width: 1200px;
    margin-left: -600px;
    background-image: url(../assets/img/form__bg.png);
    background-repeat: no-repeat;
    
    padding: 130px 90px 85px 85px;
    border-radius: 16px 0px 16px 16px;
    box-sizing: border-box;
}

.contact__title-wrapper {
    color: white;
    margin-bottom: 50px;
    h2 {
        margin: 0px 0px 30px 0px;
        font-size: 2.25rem;
        line-height: 2.8125rem;
    }
    p {
        line-height: 1.625rem;
    }
}

.contact__form__message {
    
    display: flex;
    flex-direction: column;
    p {
        font-size: 1.0037rem;
        font-weight: bold;
        color: white;
        margin-bottom: 18px;
    }
    textarea {
        max-height: 220px;
        border: 1px solid #a4bae8;
        border-radius: 8px 0px 8px 8px;
        padding: 10px;
        box-sizing: border-box;
        
        &::placeholder,
        & {
            line-height: 1.5rem;
            font-family: 'Inter', serif;
            font-size: 1.0037rem;
            color: #546e7a;
        }
        &:hover,
        &:focus {
            outline: none;
        }
    }
}

.contact__form__data {
    grid-column: 1 / 2;
    .name {
        margin-bottom: 37px;
    } 
}

.contact__form__button {
    
    align-self: flex-end;
    margin-top: 23px;
    button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 180px;
        height: 75px;
        background-color: #2fc9ef;
        border: none;
        border-radius: 8px 0px 8px 8px;
        color: white;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        outline: none;
        i {
            color: white;
            font-size: 1.5625rem;
        }
        
    }
}

.footer-wrapper {
    margin-bottom: 80px;
}


.footer__description {
    p {
        color: white;
        line-height: 1.75rem;
        margin-bottom: 40px;
    }
}

.footer__links {
    display: flex;
    justify-content: flex-start;
    margin: 0 -5px;
    
    .links-list {
        list-style: none;
        width: calc(1/4*100% - 20px);
        margin: 5px;
        li {
            color: white;
            line-height: 2.25rem;
        }
        & li:first-child {
            font-weight: bold;
            font-size: 1.125rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 50px;
            line-height: 1.5rem;
        }
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .footer-bottom__rights p {
        color: white;
        font-size: 0.875rem;
    }
    .footer-bottom__social .social-list {
        list-style: none;
        display: flex;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background-color: white;
            i {
                color: #4896e9;
                font-size: 1.25rem;
            }
        }
        & li:last-child {
            margin-left: 10px;
        }
    }
}


