html {
    font-family: 'Inter', serif;
    font-size: 18px;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.offer {
    background-image: url(../assets/img/offer__bg.png);
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.navigation-list {
    list-style: none;
    display: flex;
    li {
        margin-left: 55px;
        a {
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            outline: none;
        }
    }
}

.title-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
    .title {
        color: white;
        font-size: 3.125rem;
        letter-spacing: 2px;
        line-height: 3.75rem;
    }
    .description {
        line-height: 2.25rem;
        color: white;
    }

}

.offer__title__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 75px;
    background-color: white;
    border-radius: 16px 0px 16px 16px;
    a {
        text-decoration: none;
        outline: none;
        color: #37474f;
        font-weight: bold;
        font-size: 1.25rem;
    }

    i {
        color: #2fc9ef;
        font-size: 1.25rem;
    }
}